@import "styles/variables.scss";

.form {
  display: flex;
  flex-direction: column;
  gap: 12px;

  &-input {
    width: 410px;
    height: 40px;
    border-radius: 4px;
    padding: 10px;
    border: none;
    font-size: 20px;
  }

  &-button {
    height: 40px;
    border-radius: 4px;
    background-color: $secondary;
    font-size: 20px;
    cursor: pointer;
    
    &:hover {
      background-color: $green;
      border: 2px solid $tertiary;
      color: $tertiary;
      transition: 300ms all;
    }
  }

  &-error {
    color: $tertiary;
  }

  @media screen and (min-width: 768px) {
    &-input {
      width: 410px;
    }
  }
}
