@import 'src/styles/variables.scss';

.form {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;

  &-input {
    width: 20rem;
    height: 2.5rem;
    border-radius: 0.25rem;
    padding: 10px;
    border: none;
    font-size: 1.25rem;
  }

  &-button {
    height: 2.5rem;
    border-radius: 0.25rem;
    background-color: $secondary;
    font-size: 1.25rem;
    cursor: pointer;

    &:hover {
      background-color: $green;
      border: 2px solid $tertiary;
      color: $tertiary;
      transition: 300ms all;
    }
  }

  &-error {
    color: $tertiary;
  }

  @media screen and (min-width: 768px) {
    &-input {
      width: 384px;
    }
  }
}