@import 'styles/variables.scss';

.list-group {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 0.5rem;

  &-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    user-select: none;
    border-radius: 0.25rem;
    padding: 1rem 0.75rem;
    font-size: 1.25rem;
    border: 1px solid $green;

    button {
      width: 6rem;
      height: 2.5rem;
      background-color: $tertiary;
      border-radius: 0.25rem;
      cursor: pointer;
      font-weight: 500;

      &:hover {
        background-color: $green;
        border: 2px solid $tertiary;
        color: $tertiary;
        transition: 300ms all;
      }
    }

    &-success {
      background-color: $green;

      .task {
        text-decoration: line-through;
      }
    }

    &-wrapper {
      cursor: pointer;
      display: flex;
      align-items: center;

      .form-checkbox {
        margin-right: 0.75rem;
        height: 1.25rem;
        width: 1.25rem;
      }
    }
  }
}