@import './reset.scss';
@import './variables.scss'; 

.App {
  background-color: $primary;
  display: flex;
  justify-content: center;

  .wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  
    &-header {
      font-size: 24px;
      font-weight: 500;
    }
  }
}